.main-navbar {
  background-color: var(--navbarBg);
  position: sticky;
  top: 0;
  z-index: 100;
  max-height: 7rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-tags {
  text-decoration: none;
  font-size: 2rem;
  color: var(--maincolor);
  font-weight: 600;
  transition: font-size 0.3s ease;
}

.logout-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 0 2rem;
}

.heading {
  font-size: 4rem;
  color: var(--maincolor);
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.user-icon {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-color);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--maincolor);
  color: var(--maincolor);
}

.hamburger-btn {
  display: none;
}

.logout-button {
  color: var(--maincolor);
  border: 2px solid var(--maincolor);
}

/* @media (max-width) */
@media (max-width: 699px) {
  .navbar-tags {
    font-size: 1.3rem;
  }

  .user-icon {
    border-radius: none;
    border: none;
    width: 100%;
  }

  .hamburger-btn {
    display: block;
    background: none;
    border: none;
    width: 5rem;
    cursor: pointer;
  }

  .logout-profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .logout-button {
    border: none;
  }

  .logout-container {
    display: none;
  }

  .hamburger {
    width: 75%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--overlayBg);
    z-index: 1;
  }

  .heading {
    font-size: 3rem;
  }
}
