.overlay-tag {
  height: 100vh;
  width: 100vw;
  background-color: var(--overlayBg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 101;
  inset: 0;
}
.tag-input {
  background: none;
  border: none;
}
.tag-input {
  padding: 1.4rem;
  color: var(--inputcolorval);
  font-size: 1.5rem;
  border: none;
  width: 100%;
  outline: 0;
  border-bottom: 1px solid var(--maincolor);
}

.tag-input::placeholder {
  font-size: 2rem;
  color: var(--inputcolor);
  text-transform: capitalize;
}
.tag-selector-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  gap: 3rem;
  padding: 2rem;
}
.all-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.tag-selector-container button {
  width: fit-content;
  border: none;
}
