.button {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: all 0.4s;
  font-weight: 500;
  background-color: var(--maincolor);
  color:var(--bg-color)
}
.button:hover {
  box-shadow: 0px 0px 1.2rem var(--taglinecolor);
}
.btn {
  background-color: var(--bg-color);
  color: var(--maincolor);
}
@media (max-width:869px){
  .button{
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
  }
}
